# Denison CS181/DA210 Homework 2.d - Step 1

Before you turn this problem in, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells** (in the menubar, select Kernel$\rightarrow$Restart And Run All).

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

In [1]:
import os
import os.path
import pandas as pd

datadir = "publicdata"

---

## Part A: Aggregating a `Series`/`DataFrame`

**Q1:** Read CSV file `topnames.csv` in `datadir` into a data frame named `topnames0`, with no index.  Using individual operations on the `count` column, find the mean, the median, and the max count, assigning to `mean_counts`, `median_counts`, and `max_counts`.

In [2]:
# YOUR CODE HERE
# raise NotImplementedError()
topnames0 = pd.read_csv(os.path.join(datadir, "topnames.csv"))
countSeries = topnames0['count']
mean_counts = countSeries.mean()
median_counts = countSeries.median()
max_counts = countSeries.max()

In [3]:
# Printing cell
print("Mean:", mean_counts,
      "Median:", median_counts,
      "Max:", max_counts)

Mean: 44985.24460431655 Median: 52556.0 Max: 99689

In [4]:
# Testing Cell
assert abs(mean_counts - 44985.2446) < 0.001
assert median_counts == 52556.0
assert max_counts == 99689

**Q2:** Using the `agg` method on the `Series` of the column vector of counts, perform the same calculation of mean, median, and max in a single step, and assign to `agg_values`.  Note that this invocation may not have an exact correspondent in the book, so you may have to look up [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.agg.html) for using `agg` on a `Series`.

In [5]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display the aggregated values
agg_values = countSeries.agg(["mean","max","median"])

In [6]:
# Testing Cell
assert abs(agg_values.loc["mean"] - 44985.2446) < 0.001
assert agg_values.loc["median"] == 52556.0
assert agg_values.loc["max"] == 99689.0

**Q3:** What is the data type of `agg_values`?  (I.e., what is the result of using `agg` on a `Series`?)

The data type of `agg_values` is Series

**Q4:** Create a subset of `topnames0` restricted to `Female` entries between `1960` and `1969`, inclusive.  Assign this to `female_subset`.  Then use the `agg` function, in one step, to determine the mean and median count and the number of unique names, assigning to `female_aggvalues`.

In [7]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display the aggregated values
female_subset = topnames0.loc[(topnames0["year"] >= 1960) & (topnames0["year"] <= 1969) & (topnames0["sex"] == "Female") , :]
female_aggvalues = female_subset.agg({"count": ["mean", "median"],
                                    "name": "nunique"})
female_aggvalues

           count  name
mean     51972.7   NaN
median   51955.0   NaN
nunique      NaN   2.0

In [8]:
# Testing Cell
assert female_aggvalues.shape == (3,2)
assert female_aggvalues.loc["mean", "count"] == 51972.7
assert female_aggvalues.loc["median", "count"] == 51955.0
assert female_aggvalues.loc["nunique", "name"] == 2.0

**Q5:** What is the data type of `female_aggvalues`?  (I.e., what is the result of using `agg` on a subset of a `DataFrame`?)

The data type of `female_aggvalues` is DataFrame

**Q6:** The constraints for selecting the rows from the last problem are based on `sex` and `year`.  We often use these independent variables to set an index for a data set.  Then, when we want to filter rows, our operations that use row label/`index` values for filtering are different.

Start by creating dataframe `topnames` with its index drawn from the columns `year` and `sex`.  Then,
with a goal of the same use of the `agg` function from **Q4**, use `xs` to take a cross section of `topnames` to get the Female entries and then use `loc` to get a data frame, `female_xs_subset`.  Finally, use `agg` on this data frame to, in one step, determine the mean and median count and the number of unique names, assigning to `female_xs_aggvalues`.

In [9]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display the aggregated values
topnames = female_subset.set_index(["year", "sex"])
female_xs_subset = topnames.xs(level="sex", key="Female")
female_xs_aggvalues = female_xs_subset.agg({"count": ["mean", "median"],
                                            "name": "nunique"})

In [10]:
# Testing Cell
assert female_xs_aggvalues.shape == (3,2)
assert female_xs_aggvalues.loc["mean", "count"] == 51972.7
assert female_xs_aggvalues.loc["median", "count"] == 51955.0
assert female_xs_aggvalues.loc["nunique", "name"] == 2.0

---

## Part B: GroupBy

**Q7:** Read CSV file `indicators2016.csv` in `datadir` into a data frame named `indicators0`, with no index. Write code to add a new column `popSize` to `indicators0` which takes value `"high"` if `pop > 300`, `"low"` if `pop < 50`, and `"medium"` otherwise.

In [11]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display part of the DataFrame
def getLevel(pop):
    if pop>300:
        return "high"
    elif pop<50:
        return "low"
    return "medium"

indicators0 = pd.read_csv(os.path.join(datadir, "indicators2016.csv"))
popSizeSeries = indicators0["pop"].apply(getLevel)
indicators0["popSize"] = popSizeSeries
indicators0.head()

  code      country    pop    gdp   life   cell popSize
0  ABW        Aruba   0.10    NaN  75.87    NaN     low
1  AFG  Afghanistan  34.66  19.47  63.67  21.60     low
2  AGO       Angola  28.81  95.34  61.55  13.00     low
3  ALB      Albania   2.88  11.86  78.34   3.37     low
4  AND      Andorra   0.08   2.86    NaN   0.07     low

In [12]:
# Testing Cell
assert indicators0["popSize"].nunique() == 3
assert indicators0["popSize"].value_counts()["low"] == 189
assert indicators0["popSize"].value_counts()["medium"] == 25
assert indicators0["popSize"].value_counts()["high"] == 6
assert indicators0.loc[205, "popSize"] == "high"
assert indicators0.loc[17, "popSize"] == "medium"
assert indicators0.loc[4, "popSize"] == "low"

**Q8:** Building on the question above, use `groupby` to partition `indicators0` by this new column `popSize`, assigning to variable `groupby_pop`.

In [13]:
# YOUR CODE HERE
# raise NotImplementedError()

# Print the number of groups
groupby_pop = indicators0.groupby(by="popSize")
print(len(groupby_pop))

3

In [14]:
# Testing Cell
assert len(groupby_pop) == 3

**Q9:** What is the data type of `groupby_pop`?  (I.e., what is the result of using `groupby` on a `DataFrame`?)

The data type of `groupby_pop` is a grouby object

**Q10:** Building on the question above, aggregate this groupby partitioning, determining the **number of non-missing elements** for the columns `code`, `pop`, `gdp`, `life`, and `cell` by partition.  Assign the result to `partition_counts`.

Hint: You can make this general by using a list-comprehension-type expression to create a dictionary.  (This is not necessary, but cool to use.)

In [15]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display the grouped counts
partition_counts = groupby_pop.count()
partition_counts.drop('country', axis=1, inplace=True)
partition_counts

         code  pop  gdp  life  cell
popSize
high        6    6    6     6     6
low       189  189  164   171   172
medium     25   24   24    25    25

In [16]:
# Testing Cell
assert partition_counts.shape == (3,5)
assert partition_counts.loc["low", "code"] == 189
assert partition_counts.loc["medium", "gdp"] == 24
assert partition_counts.loc["high", "cell"] == 6

**Q11:** In similar fashion, determine the mean, by partition, of `pop`, `gdp`, and `cell`, and the max of `life`, assigning to `partition_aggvalues`.  Use the `round()` method of DataFrames to round the numeric values to 2 decimal places.

In [17]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display the grouped aggregated values
print(groupby_pop.agg({"pop":"mean", "gdp":"mean", "life":"max", "cell":"mean"}))
partition_aggvalues = groupby_pop.agg({"pop":"mean", "gdp":"mean", "life":"max", "cell":"mean"}).round(2)

                 pop           gdp   life         cell
popSize
high     2100.925000  18715.311667  78.69  2040.461667
low         9.444921    101.666098  84.23    10.258256
medium    108.520417   1075.999583  83.98   113.066400

In [18]:
# Testing Cell
assert partition_aggvalues.shape == (3,4)
assert partition_aggvalues.loc["low", "gdp"] == 101.67
assert partition_aggvalues.loc["medium", "life"] == 83.98
assert partition_aggvalues.loc["high", "pop"] == 2100.92

**Q12:** In similar fashion, determine the mean, min, and max of `gdp` and `life`, assigning to `partition_aggvalues2` and again rounding to two decimal places.

In [19]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display the grouped aggregated values
print(groupby_pop.agg({"gdp":["mean","max","min"], "life":["mean","max","min"]}))
partition_aggvalues2 = groupby_pop.agg({"gdp":["mean","max","min"], "life":["mean","max","min"]}).round(2)

                  gdp                          life
                 mean       max      min       mean    max    min
popSize
high     18715.311667  75871.74  1440.24  72.873333  78.69  68.56
low        101.666098   1535.77     0.03  72.146374  84.23  51.84
medium    1075.999583   4949.27    35.38  72.291600  83.98  53.43

In [20]:
# Testing Cell
assert partition_aggvalues2.shape == (3,6)
assert partition_aggvalues2.loc["low", ("gdp", "mean")] == 101.67
assert partition_aggvalues2.loc["medium", ("life", "max")] == 83.98
assert partition_aggvalues2.loc["high", ("gdp", "min")] == 1440.24

**Q13:** Explain how the columns of `partition_aggvalues` and `partition_aggvalues2` differ, and **why**.

For `partition_aggvalues`, because each column has only 1 method applied to it, there are still 4 separate columns. But for `partition_aggvalues2`, because each column has 3 methods applied to it, we need 3 sub-columns (representing which method) which all belong to a bigger column name that have those 3 methods applied to

---

---
## Part C

**Q14:** How much time (in minutes/hours) did you spend on this homework assignment?

For about 50 minutes

**Q15:** Who was your partner for this assignment?  If you worked alone, say so instead.

I worked alone