# Denison CS181/DA210 SW Lab #6 - Step 1

Before you get your checkpoints, make sure everything runs as expected. This is a combination of **restarting the kernel** and then **running all cells** (in the menubar, select Kernel$\rightarrow$Restart And Run All).

Make sure you fill in any place that says `# YOUR CODE HERE` or "YOUR ANSWER HERE".

---

In [1]:
import os
import os.path
import pandas as pd

datadir = "publicdata"

---

## Part A

**Q1:** Consider the data on religions and income, gathered by Pew Research Center and hosted at this link: https://github.com/chendaniely/pandas_for_everyone/blob/master/data/pew.csv.

The data is also available as `"pew.csv"` in the data folder.  In the code cell that follows, read the data into a DataFrame assigned to `df_rel_untidy`.

In [2]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display part of the DataFrame
df_rel_untidy = pd.DataFrame(pd.read_csv(os.path.join(datadir, "pew.csv")))
df_rel_untidy.head()
df_rel_untidy.shape

(18, 11)

In [3]:
# Testing cell
assert df_rel_untidy.shape == (18,11)
assert df_rel_untidy.iloc[0,0] == "Agnostic"
assert df_rel_untidy.iloc[0,1] == 27
assert df_rel_untidy.iloc[5,0] == "Evangelical Prot"
assert df_rel_untidy.columns[5] == "$40-50k"
assert df_rel_untidy.iloc[14,8] == 14

> You've reached the first checkpoint in the lab.  Make sure to have it signed off by the instructor or TA.
>
> Checkpoint 1: What are the independent variable(s) and dependent variable(s) for this dataset?  Give one of the three tidy-data requirements that this dataset fails to satisfy and explain why.

**Q2:** Transform as needed to make it tidy.  Store the normalized (tidy) data frame as `df_rel`.

In [4]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display part of the tidy DataFrame
df_rel = df_rel_untidy.melt(id_vars=["religion"], var_name="income", value_name="count")
df_rel.head()

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [5]:
# Testing cell
assert df_rel.shape == (180,3)
assert df_rel.iloc[0,0] == "Agnostic"
assert df_rel.iloc[0,1] == "<$10k"
assert df_rel.iloc[0,2] == 27
assert df_rel.iloc[41,0] == "Evangelical Prot"
assert df_rel.iloc[89,1] == "$40-50k"
assert df_rel.iloc[104,2] == 14

---

## Part B

**Q3:** Read the data in `pop_columns.csv` into a `DataFrame` called `pop_untidy`.

In [6]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display the untidy DataFrame
pop_untidy = pd.DataFrame(pd.read_csv(os.path.join(datadir, "pop_columns.csv")))

> You've reached the second checkpoint in the lab.  Make sure to have it signed off by the instructor or TA.
>
> Checkpoint 2: What are the independent variable(s) and dependent variable(s) for this dataset?  Would either `melt` or `pivot` be useful to make this data tidy?

**Q4:** This dataset fails to satisfy `TidyData1`: each column represents the `population` for a different value of `year`.  Make this dataset tidy.

Your result should use both the `code` and `year` as a multi-level index and have one data column, and twelve rows.  Note that you can use `sort_index` to reorganize your data after setting the index.  Store the resulting `DataFrame` in a variable `pop_tidy`.

In [7]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display the tidy DataFrame
pop_tidy = pop_untidy.melt(id_vars=["code"],var_name="year", value_name="pop")
pop_tidy["year"] = pop_tidy["year"].apply(lambda x:int(x[3:]))
pop_tidy = pop_tidy.set_index(["code","year"])
pop_tidy

               pop
code year
CHN  2014  1364.27
GBR  2014    64.61
IND  2014  1295.60
USA  2014   318.39
CHN  2015  1371.22
GBR  2015    65.13
IND  2015  1310.15
USA  2015   320.74
CHN  2016  1378.66
GBR  2016    65.60
IND  2016  1324.51
USA  2016   323.07

In [8]:
# Testing cell
assert pop_tidy.shape == (12, 1)
assert pop_tidy.loc[("USA", 2015), "pop"] == 320.74

---

## Part C

**Q5:** Read the data in `popgdp_columns.csv` into a `DataFrame` called `ind_untidy`.

In [9]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display the untidy DataFrame
ind_untidy = pd.DataFrame(pd.read_csv(os.path.join(datadir, "popgdp_columns.csv")))

> You've reached the third and final checkpoint in the lab.  Make sure to have it signed off by the instructor or TA.
>
> Checkpoint 3: What are the independent variable(s) and dependent variable(s) for this dataset?  What steps would you take to make this data tidy?

**Q6:** \[Optional\] This dataset fails to satisfy `TidyData1`: each column represents either the `population` or `GDP` for a different value of `year`.

Make this dataset tidy.  Your result should a multi-level row index of `code` and `year`, two data columns, and twelve rows.  Store the resulting `DataFrame` in a variable `ind_tidy`.

In [10]:
# YOUR CODE HERE
# raise NotImplementedError()

# Display the tidy DataFrame
ind_tidy = ind_untidy.melt(id_vars=["code"],var_name="year", value_name="count")
ind_tidy["type"] = ind_tidy["year"].apply(lambda x:x[:3])
ind_tidy["year"] = ind_tidy["year"].apply(lambda x:int(x[3:]))
ind_tidy = ind_tidy.pivot_table(index=["code","year"],columns="type",values="type")
ind_tidy.shape

(12, 2)

In [11]:
# Testing cell
assert ind_tidy.shape == (12, 2)
assert ind_tidy.loc[("USA", 2015), "pop"] == 320.74
assert ind_tidy.loc[("GBR", 2017), "gdp"] == 2637.87

---

---

## Part D

How much time (in minutes/hours) did you spend on this lab outside of class?

For about 40 minutes